<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Clever</title>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/main/header.css" />
<link rel="stylesheet" href="/css/mypage/mypage.css" />
<link rel="stylesheet" href="/css/main/footer.css" />
<script src="js/script.js"></script>
<script src="https://kit.fontawesome.com/267f657aa0.js"
	crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
	const day = 1000 * 60 * 60 * 24;
	
	var user = [[${session.user}]];
	
	if(user == null){
		alert('세션 없음');
		location.href="/";
	}

    // default: 내 문제 - 내가 푼 문제
    $(document).ready(function () {
    	var date = new Date(user.regTime);
    	var now = new Date();
    	var diff = parseInt((now.getTime() - date.getTime()) / day)
    	
    	if(diff > 0 ){
    	$('#joinDay').html(diff + "일 전 가입");
    	} else {
        	$('#joinDay').html("오늘 가입");
    	}
    	
        $.ajax({
            url: '/mypage/quests',
          type: 'POST',
          success: function (data) {
            $('#replace-content').html(data);
          },
        });
        
    });
     
      function mySolvedQuestBtn() {
          $.ajax({
              url: '/mypage/quests',
              type: 'POST',
              success: function (data) {
                $('#replace-content').html(data);
              },
            });
      }

      function myQuestBtn() {
        $.ajax({
            url: '/mypage/upload-quests',
          type: 'POST',
          success: function (data) {
            $('#replace-content').html(data);
          },
        });
      } 
      
      function myReplyBtn() {
          $.ajax({
            url: '/mypage/comments',
            type: 'POST',
            success: function (data) {
              $('#replace-content').html(data);
            },
          });
        }

      function myLevelBtn() {
        $.ajax({
          url: '/mypage/level',
          type: 'POST',
          success: function (data) {
            $('#replace-content').html(data);
          },
        });
      } 
    </script>
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header :: header"></div>
	<hr>

	<!-- mypage -->
	<section id="mypage">
		<!-- user profile -->
		<div class="mypage__profile">
			<!-- user profile image -->
			<img th:src="${'/imgs/profile/user/' + session.user.userId + '.png'}" />
			<div th:with="info = ${session.user}" class="mypage__profile-info">

				<div class="usernameAndsetting__wrapper">
					<!-- user name -->
					<h1 th:text="${info.userNickname}"></h1>
					<!-- setting icon -->
					<a href="/mypage/setting"> <img src="imgs/mypage/settings.png" />
					</a>
				</div>
				<!-- user regdate -->
				<!-- <p th:text="${#calendars.format(#calendars.createNow()}"></p> -->
				<p id="joinDay"></p>
				<!-- user badge -->
				<div th:if="${info.userExp} >= 300" class="badge">
					<img src="imgs/badge/master.svg" />
					<p th:text="${info.userExp}"></p>
				</div>
				<div th:if="${info.userExp} >= 100" class="badge">
					<img src="imgs/badge/level2.svg" />
					<p th:text="${info.userExp}"></p>
				</div>
				<div th:if="${info.userExp} >= 50" class="badge">
					<img src="imgs/badge/level1.svg" />
					<p th:text="${info.userExp}"></p>
				</div>
				<div th:if="${info.userExp} >= 0" class="badge">
					<img src="imgs/badge/new.svg" imgwidth="40px" />
					<p th:text="${info.userExp}"></p>
				</div>
			</div>
		</div>

		<!-- user activity -->
		<nav class="mypage__list">
			<!-- tab navigation -->
			<p onclick="mySolvedQuestBtn()" class="active">내가 푼 문제</p>
			<p onclick="myQuestBtn()">내가 올린 문제</p>
			<p onclick="myReplyBtn()">내 댓글</p>
			<p onclick="myLevelBtn()">등급</p>
			<div class="marker" target="_blank"></div>
		</nav>
		<div id="navbar__divider"></div>
		<div id="replace-content"></div>
		<!-- !!!!!!!! board 색깔 수정 필요 !!!!!!!!!! -->
	</section>
	<hr>
	<script>
        const marker = document.querySelector(".marker");
        const item = document.querySelectorAll(".mypage__list p");
 
        function indicator(e) {
        marker.style.left = e.offsetLeft + "px";
        marker.style.width = e.offsetWidth + "px";

        //   e.classList.remove('active');   
        }

        item.forEach((event) => { 
            // event.currentTarget.classList.remove('active');   

            event.addEventListener("click", (e) => {
            indicator(e.target);
            e.target.classList.add('active');

            console.log(e.target);
        });
        });
    </script>

	<!-- footer -->
	<div th:replace="layout/footer :: footer"></div>
</body>
</html>
