<!DOCTYPE html>
<!--header-->
<div th:fragment="list">	
<script type="text/javascript">
	$(document).ready(function(){
		var categoryList = $('#categoryList');
		
		$.ajax({
			url:'/category',
			type:'post',
			success:function(data){
				for(let dat of data){					
					$.ajax({
						url:'/test',
						type:'post',
						data:dat,
						success:function(data){
							$(categoryList).append(data);
						},
						error:function(data){
						}
					});
				}
			},
			error:function(){
				alert('카테고리 목록 불러오기 실패');
			}
		})
	});	
</script>
	<!-- navbar -->
	<nav id="header__nav">
		<ul id="categoryList">
			<!-- <li class="category" tab-index="0">
				<p>국가기술자격시험</p>
				<ul class="sub-category">
					<li><a href="/list">가나아러 지</a></li>
					<li><a href="/list">국가기술자격시험</a></li>
					<li><a href="/list">Su국가기술자 격시험</a></li>
					<li><a href="/list">Su국가기술자격시 험m 4</a></li>
					<li><a href="/list">Sub I국가기술자격시 험tem 5</a></li>
					<li><a href="/list">국가기술자격시험 ㄴㄴb Item 6</a></li>
				</ul>
			</li>
			<li class="category" tab-index="0">
				<p>기타 IT·전산 시험</p>
				<ul class="sub-category">
					<li><a href="/list">기타 IT·전산 시험</a></li>
					<li><a href="/list">기타 IT·전산 시험</a></li>
					<li><a href="/list">기타 IT·전산 시험</a></li>
					<li><a href="/list">Sub It IT·전산 IT·전산 em 6</a></li>
				</ul>
			</li>
			<li class="category" tab-index="0">
				<p>공무원 전산직</p>
				<ul class="sub-category">
					<li><a href="/list">Sub Item 1</a></li>
					<li><a href="/list">공무공무원 전산직원 전산직</a></li>
					<li><a href="/list">Su공무원 전산직 5</a></li>
					<li><a href="/list">Su공무원 전산직b Item 6</a></li>
				</ul>
			</li>
			<li class="category" tab-index="0">
				<p>유저 등록 시험</p>
				<ul class="sub-category">
					<li><a href="/list">Sub Item 1</a></li>
					<li><a href="/list">공무공무원 전산직원 전산직</a></li>
					<li><a href="/list">Su공무원 전산직 5</a></li>
					<li><a href="/list">Su공무원 전산직b Item 6</a></li>
				</ul>
			</li>
			<li class="category" tab-index="0">
				<p>파ㅣㅏ렂</p>
				<ul class="sub-category">
					<li><a href="/list">Sub Item 1</a></li>
					<li><a href="/list">Sub Item 2</a></li>
					<li><a href="/list">Sub Item 5</a></li>
					<li><a href="/list">Sub Item 6</a></li>
				</ul>
			</li>
			<li class="category" tab-index="0">
				<p>기타 시험</p>
				<ul class="sub-category">
					<li><a href="/list">Sub Item 1</a></li>
					<li><a href="/list">Sub Item 2</a></li>
					<li><a href="/list">Sub Item 5</a></li>
					<li><a href="/list">Sub Item 6</a></li>
				</ul>
			</li> -->
		</ul>
	</nav>
</div>
</html>
