<!DOCTYPE html>
<!--header-->
<div th:fragment="main">
	<div id="header__top">
		<div id="header__actions">
			<!-- 검색 영역 -->
			<div th:replace="layout/searchArea :: search"></div>
			
			<!-- 자동완성레이어 -->
			<div id="autoFrame" class="reatcmp" style="display: none;"></div>
			
			<!-- 유저 상태에 따름 -->
			<div id="header__actions-user">			
				<!-- 로그인 한 경우 -->
				<div th:if="${session.user != null}">
					<div th:replace="layout/userInfo :: login"></div>
				</div>
				
				<!-- 로그인 안된 경우-->
				<div th:if="${session?.user == null}">
					<div th:replace="layout/userInfo :: notLogin"></div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div th:fragment="logo">
	<a href="/">
		<h1 id="header_logo" style="text-align: center;">clever</h1>
	</a>
</div>
</html>

<script>
	function profileOnclick() {
		document.getElementById('profileDropdown').classList.toggle('show');
		window.onclick = function(event) {
			if (!event.target.matches('#profileDropdown')) {
				if (openDropdown.classList.contains('show')) {
					document.getElementById('profileDropdown').classList
							.remove('show');
				}
			}
			;
			var dropdowns = document.getElementsByClassName('profile-dropdown');
			var i;
			for (i = 0; i < dropdowns.length; i++) {
				var openDropdown = dropdowns[i];
				if (openDropdown.classList.contains('show')) {
				}
			}
		}
	}
</script>
