<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="search">
	<!-- 검색 기능 -->
	<form action="/search" id="searhform" class="search_area" name="searhform" method="get">
		<fieldset class="search-box">
			<select id="where" name="where" title="검색 범위 선택" class="blind">
				<option value="nexearch" selected="selected">제목 검색</option>
			</select>
			<span class="green_window">
				<input id="query" name="query" type="text" 
					title="검색어 입력" maxlength="255" class="input_text"
					tabindex="1" accesskey="s" style="ime-mode: active;"
					autocomplete="off" placeholder="검색어를 입력해 주세요.">
			</span>
			<button id="search_btn" class="search-btn" type="submit"
				title="검색" tabindex="3" onclick="search(event);">
				<img src=" /imgs/header/search.png" alt="search" width="256px"/>
			</button>
		</fieldset>
	</form>
	<!-- 자동완성레이어 -->
	<div id="autoFrame" class="reatcmp" style="display: none;"></div>			
</div>
</html>
