<div th:with="info = ${session.user}" class="edit__info">
  <h3>비밀번호</h3>
  <p>현재 비밀번호</p>
  <input
    type="password"
    inputmode="password"
    placeholder="현재 비밀번호"
    autocomplete="off"
    autocapitalize="off"
    class="input__userInfo"
  />
  <div class="pwd__helper">
    <p>비밀번호가 기억나지 않나요?</p>
    <a href="/forgot-password">비밀번호 초기화</a>
  </div>
  <p>변경할 비밀번호</p>
  <input
    type="password"
    id="userPwd"
    inputmode="password"
    placeholder="변경할 비밀번호"
    autocomplete="off"
    autocapitalize="off"
    class="input__userInfo"
  />
  <input
    type="password"
    inputmode="password"
    placeholder="변경할 비밀번호 확인"
    autocomplete="off"
    autocapitalize="off"
    class="input__userInfo"
  />
  <input th:value="${info.userId}" id="userId" type="hidden">
  <button onclick="updatePwdBtn()" class="submitButton">저장</button>
</div>
<button onclick="cancelPwdBtn()" class="cancelBtn btn">취소</button>
