<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.container{
		margin: 10%;
	}
	
	.container>div{
		float: left;
		width: 50%;
	}
	
	li{
		list-style: none;
	}
</style>
</head>
<body>
	<div class="container">
		<div id="categoryList">
			<li th:each="category:${categoryList}">
				<input type="hidden" th:value="*{categoryNo}"/>
				<label th:text="${category.categoryName}"></label>
			</li>
		</div>
		<div>
			123
		</div>
	</div>		
</body>
</html>