<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url:'/quest2/list',
			type:'post',
			data:{roundNo:$('#roundNo').attr('value')},
			success:function(data){
				console.log(JSON.stringify(data))
				$.ajax({
					url:'/quest2',
					type:'post',
					data:{param:JSON.stringify(data)},
					success:function(data){
						$('#questList').html(data);
					}
				})
			}
		})
	})
</script>
</head>
<body>	
	<form action="/insertQuest" method="post">
		<div th:text="${round.roundName}" style="text-align: center;">회차 이름</div>
		<input type="hidden" id="roundNo" th:value="${round.roundNo}" name="roundNo">
		<input type="hidden" id="roundName" th:value="${round.roundName}" name="roundName">
		<button type="submit">문제등록</button>
	</form>
</body>
</html>