<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script>
	/* 댓글삭제 */
	$(document).ready(function() {
		function deleteUserBtn(id, name) {
			var check1 = confirm('삭제하시겠습니까?');
			if (check1 == true) {
				$.ajax({
					url : "/manageUser/delete-user/" + id,
					type : "POST",
					dataType : 'text', // String 값을 return하기 때문
					success : function(message) {
						alert(message);
						//location.replace('/manageUser');
						location.href = '/authority';
					},
					error : function() {
						alert('유저삭제실패');
						//location.replace('/manageUser');
					}
				})
			}
		}
		;

	});

	/* 댓글추가 */
	$(document).ready(function() {
		$('#reply').click(function() {
			alert($('#reply_content').val())

			$.ajax({
				url : "/insertReply",
				type : "POST",
				//dataType : "text",
				//contentType : "application/json",
				data : {
					content : $('#reply_content').val()
				},
				success : function(message) {
					alert(message);
					alert('저장 성공!');
				},
				error : function(data) {
					alert('저장 실패!');

				}
			});
		});
	});

</script>
</head>




<!-- 문제 상세출력 -->

<body>
	<!-- <table class="table table-hover">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="Quest:${Questinfo}">
				<td th:text="${Quest.QUEST_NO}"></td>
				<td th:text="${Quest.QUEST_SEQ}"></td>
				<th>
				<td th:text="${Quest.QUEST_CONTENT}"></td>
				<th>
			</tr>asd
		</tbody>
	</table> -->

	<!-- 댓글 인서트 -->

	<h1>댓글</h1>
	<textarea id="reply_content" type="text"></textarea>
	<button type="button" class="btn btn-primary" id="reply">저장</button>


	<h3>댓글출력</h3>

	<tr>
		<!-- <span th:if="${reply.REG_USER} == ${session.user?.userid}">
						</span> -->



		<!-- 	<td><button th:if="${reply.REG_USER == session.user.userId}"
								th:onclick="deleteUserBtn" class="deleteUserBtn btn">댓글삭제</button></td> -->
	</tr>


	<!-- comment list -->
	<ul id="commentList">
		<li th:each="reply:${user}">
			<!-- user info --> <!-- 프로필 사진 -->
			<div class="comment__content">
				<div class="leftWrapper">
					<div class="profile__img">
						<img src="imgs/profile-img.png" />
					</div>
					<!-- 유저 이름/등급 / 댓글 내용 -->
					<div class="userInfoAndCommentWrapper">
						<div class="profileWrapper">
							<div class="nameAndLevelWrapper">
								<!-- 이름 -->
								<p th:text="${reply.USER_NICKNAME}" id="profile__name"></p>
								<!-- 레벨 -->
								<div id="profile__badge">
									<img th:if="${reply.USER_EXP} >= 300"
										src="imgs/badge/master.svg" /><img
										th:if="${reply.USER_EXP} >= 100" src="imgs/badge/level2.svg" /><img
										th:if="${reply.USER_EXP} >= 50" src="imgs/badge/level1.svg" /><img
										th:if="${reply.USER_EXP} >= 0" src="imgs/badge/new.svg" />
								</div>
							</div>
							<!-- 작성 시간 -->
							<p th:text="${reply.REG_TIME}"></p>
						</div>
						<div class="commentContent">
							<p th:text="${reply.CONTENT}" class="replace-commentEdit"></p>
						</div>
					</div>
				</div>
				<div onclick="replyOnclick(this)" class="comment__actions">
					<i class="fa-solid fa-ellipsis-vertical"></i>
					<div id="replyDropdown" class="reply-dropdown">
						<ul>
							<li onclick="editReply(this)"><a href="/edit-reply">수정</a></li>
							<li onclick="deleteReply(this)"><a href="/delete-reply">삭제</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="navbar__divider"></div>
		</li>
	</ul>

</body>
</html>

