<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script>
	/* 댓글삭제 */
	$(document).ready(function() {
		function deleteUserBtn(id, name) {
			var check1 = confirm('삭제하시겠습니까?');
			if (check1 == true) {
				$.ajax({
					url : "/manageUser/delete-user/" + id,
					type : "POST",
					dataType : 'text', // String 값을 return하기 때문
					success : function(message) {
						alert(message);
						//location.replace('/manageUser');
						location.href = '/authority';
					},
					error : function() {
						alert('유저삭제실패');
						//location.replace('/manageUser');
					}
				}) 
			}
		}
		;

	});

	/* 댓글추가 */
	$(document).ready(function() {
		$('#reply').click(function() {
			alert($('#reply_content').val()) 

			$.ajax({
				url : "/insertReply",
				type : "POST",
				//dataType : "text",
				//contentType : "application/json",
				data : {
					content : $('#reply_content').val()
				},
				success : function(message) {
					alert(message);
					alert('저장 성공!');
				},
				error : function(data) {
					alert('저장 실패!');

				}
			});
		});
	});
</script>
</head>

<!-- 문제 상세출력 -->

<body>
	<!-- <table class="table table-hover">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="Quest:${Questinfo}">
				<td th:text="${Quest.QUEST_NO}"></td>
				<td th:text="${Quest.QUEST_SEQ}"></td>
				<th>
				<td th:text="${Quest.QUEST_CONTENT}"></td>
				<th>
			</tr>asd
		</tbody>
	</table> -->

	<!-- 댓글 인서트 -->

	<h1>댓글</h1>
	<textarea id="reply_content" type="text"></textarea>
				 



	<button type="button" class="btn btn-primary" id="reply">저장</button>


	<h3>댓글출력</h3>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">닉네임</th>
				<th scope="col">내용</th>
			</tr>
		</thead>
		</tbody>
		<!-- <tr th:each="reply:${Replyinfo}">
			<span th:if="${reply.REG_USER} == ${session.user?.userid}">
				<td th:text="${reply.REG_USER}"></td> DB안에 정의돼있는 이름이 id인데도 유저id를 찾으려면 user.username으로 해야한다 이유는 실제 user.model에 있는 username을 찾는것이기때문에 reply.model에서 그 값을 땡겨오려면 실제 이름인 user이라는 모델안에있는 username을 땡겨와야한다
				<td th:text="${reply.CONTENT}"></td>
			</span>
			<td><button th:if="${#strings.equals(reply.REG_USER, 현재 세션)}"
					th:onclick="deleteUserBtn" class="deleteUserBtn btn">댓글삭제</button></td>
		</tr>
		</tbody> -->
	</table>

</body>
</html>