<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$.ajax({
			url:'/quest/list',
			type:'post',
			data:{roundNo:$('#roundNo').val()},
			success:function(data){
				$('#questList').html(data);
			}
		})
	})	
</script>
</head>
<body>	
	<form action="/insertQuest" method="post">
		<input type="hidden" id="roundNo" th:value="${round.roundNo}" name="roundNo">
		<input type="hidden" id="roundName" th:value="${round.roundName}" name="roundName">
		<button type="submit">문제등록</button>
	</form>
	<div id="questList">
	</div>
</body>
</html>