<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$.ajax({
			url:'/quest2/list',
			type:'post',
			data:{roundNo:$('#roundNo').val()},
			success:function(data){
				console.log(JSON.stringify(data))
				$('#questList').html(data);
			}
		})
	})	
</script>
</head>
<body>
	<ul class="category__list">
		<li>
			<p>총</p>
			<p th:text="${#lists.size(roundList)}">11(타임리프 리스트)</p>
			<p>회</p>
		</li>
		<li th:each="round:${roundList}" class="round" tab-index="0">• <a
			th:href="${'/round/' + round.roundNo}" th:text="${round.roundName}">
		</a></li>
	</ul>
	<div id="questList"></div>
</body>
</html>