<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>					
	<li>
		<span>총</span>
		<span th:text="${roundList.size}"></span>
		<span>회</span>
	</li>
	<ul class="category__list">
		<li th:each="round:${roundList}" class="round" tab-index="0">• <a
			th:href="${'/round/' + round.roundNo}" th:text="${round.roundName}">
		</a></li>
	</ul>
	<div id="questList"></div>
</body>
</html>