<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
	$.ajax({
		url:'/test/list',
		type:'post',
		data:{categoryNo:$('#categoryNo').val()},
		success:function(data){
			$('#testList').html(data);
			alert('성공');
		}
	})
</script>
</head>
<body>	
	<div th:replace="layout/searchArea :: search"></div>
	<input type="hidden" id="categoryNo" th:value="${category.categoryNo}">
	<div id="testList">
	</div>
</body>
</html>