<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dip.clever.mapper.QuestMapper">
	<select id="selectQuestList" parameterType="int" resultMap="quest">
		SELECT		T1.QUEST_NO,
					T1.QUEST_SEQ,
					T1.QUEST_CONTENT,
					C1, C2, C3, C4, C5
		FROM		TB_QUEST	AS T1
		LEFT JOIN	TB_CHOICE	AS T2
			ON			T1.QUEST_NO = T2.QUEST_NO
		WHERE		ROUND_NO = #{roundNo}
		AND			USE_F = 'Y';
	</select>
	
	<select id="selectQuest" parameterType="int" resultMap="quest">
		SELECT		*
		FROM		TB_QUEST
		WHERE		QUEST_NO = #{questNo}
		AND			USE_F = 'Y'
	</select>

	<select id="selectSolvedList" parameterType="string" resultMap="quest">
		SELECT		*
		FROM		TB_LOG		AS T1
		INNER JOIN	TB_QUEST	AS T2
			ON			TARGET_ID = QUEST_NO
		WHERE		USER_ID = #{userId}
		AND			ACTION = 'SOLVED'
	</select>
	
	<select id="selectUploadList" parameterType="string" resultMap="quest">
		SELECT		*
		FROM		TB_QUEST
		WHERE		ROUND_NO IN(
			SELECT		ROUND_NO
			FROM		TB_ROUND
			WHERE		REG_USER = #{userId}
			AND			USE_F = 'Y'
		)
	</select>
	
	<!-- 문제 매핑 -->
	<resultMap type="dip.clever.model.Quest" id="quest" >
		<result property="questNo" 	column="QUEST_NO"/>
		<result property="roundNo" column="ROUND_NO"/>		
		<result property="questSeq" column="QUEST_SEQ"/>
		<result property="questContent" column="QUEST_CONTENT"/>
		<result property="choice.c1" column="C1"/>
		<result property="choice.c2" column="C2"/>
		<result property="choice.c3" column="C3"/>
		<result property="choice.c4" column="C4"/>
		<result property="choice.c5" column="C5"/>
		<result property="answer" column="ANSWER"/>
	</resultMap>	
	
	<!-- 밑에 부분은 사용하지 않음 -->	
	<update id="updateArticle" parameterType="map">
		UPDATE	TB_ARTICLE
		SET		TITLE = #{title},
				CONTENT = #{content},
				MOD_DATE = SYSDATE()
		WHERE	NO = #{no}
	</update>
	
	<update id="deleteArticle" parameterType="int">
		UPDATE	TB_ARTICLE
		SET		USE_F = 'N'
		WHERE	NO = #{no}
	</update>	
	
<!-- 	<resultMap type="info.thecoding.model.Article" id="article" >
		<result property="boardId" 	column="BOARD_ID"/>
		<result property="boardName"	column="BOARD_NAME"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userId"	column="USER_ID"/>
		<result property="title"	column="TITLE"/>
		<result property="creDate"	column="CRE_DATE"/>
		<result property="modDate"	column="MOD_DATE"/>
		<result property="content"	column="CONTENT"/>
		<result property="readCnt"	column="READ_CNT"/>
	</resultMap> -->
</mapper>